@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* background: #140123; */
	--foreground-rgb: rgb(255, 255, 255);
	--background: 240 10% 3.9%;
	--background-start-rgb: 20, 1, 35;
	--background-end-rgb: 20, 1, 35;
	--toastify-color-light: #fff;
	--toastify-color-dark: #000;
	--toastify-color-info: #3498db;
	--toastify-color-success: #07bc0c;
	--toastify-color-warning: #f1c40f;
	--toastify-color-error: #e74c3c;
	--toastify-text-color-info: #fff;
	--toastify-text-color-success: #fff;
	--toastify-text-color-warning: #fff;
	--toastify-text-color-error: #fff;
}

body {
	background-color: var(--background);

	color: var(--foreground-rgb);
	scroll-behavior: smooth;

	.Toastify__toast {
		border: 2px solid #8f199b;
	}

	.Toastify__toast-body {
		div {
			color: var(--foreground-rgb);
		}
	}
}

@keyframes lineShine {
	0% {
		left: -150%;
	}
	100% {
		left: 150%;
	}
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.line-shine-effect {
	position: absolute;
	top: 0;
	left: -150%;
	width: 60%;
	height: 100%;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	animation: lineShine 5s infinite ease-in-out;
	pointer-events: none;
}

@layer base {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}

@layer utilities {
	.bg-glass {
		@apply backdrop-blur-xl bg-white/[0.07] border border-white/[0.1] shadow-[0_8px_32px_0_rgba(0,0,0,0.36)];
	}
	.mint-button {
		@apply bg-gradient-to-r from-foreground to-secFG text-white px-4 py-2 w-[200px] rounded-2xl mt-4;
	}
}
